* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, sans-serif;
}
body {
    background-color: #2d2a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
    width: 90%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.field {
    border: 2px solid #514b82;
    border-radius: 5px;
    background-color: #3c375e;
    font-size: 16px;
    height: 100%;
    width: 100%;
    padding: 10px;
    resize: none;
    outline: none;
}

.field:focus {
    border-color: #7769b7;
}

#outputField {
    overflow: auto;
}

.fieldButtons {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

#openFullscreenButton {
    margin-top: auto;
}

.button {
    padding: 10px;
    margin: 3px 0;
    border: 2px solid #514b82;
    border-radius: 5px;
    background-color: #3c375e;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #514b82;
    border-color: #3c375e;
}

.button:active {
    background-color: #2a2645;
}

#inputContainer, #outputContainer {
    flex: 3;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 100%;
    resize: none;
    outline: none;
}

.fullscreenButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(255, 255, 255, 0.25);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 15px;
}

.fullscreenButton:hover {
    background: rgba(255, 255, 255, 0.5);
}

.fullscreen {
    position: fixed !important;
    top: 5vh;
    left: 5vw;
    width: 90vw !important;
    height: 90vh !important;
    margin: 0 !important;
    z-index: 1000;
    resize: none;
}
